* {
  max-width: 707px;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Pictures/bankBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmax;
}

.main-header {
  position: relative;
  text-align: center;
  border: 3px solid black;
  background-color: lightskyblue;
  opacity: 0.6;
  border-radius: 25px;
  height: 100px;
  width: 300px;
  left: 203.5px;
  top: 50px;
  font-family: 'Rubik Dirt', cursive;
  box-shadow: 10px 10px rgb(44, 42, 42);
  user-select: none;
  cursor: pointer;
}

.main-header h1 {
  position: relative;
  top: 10px;
  color: black;
  font-size: 2em;
}

.main-header h4 {
  position: relative;
  top: 20px;
  font-size: 1em;
}

.main-login {
  position: relative;
  text-align: center;
  top: 15%;
  border: 3px solid black;
  border-radius: 25px;
  background-color: lightskyblue;
  opacity: 0.6;
  width: 500px;
  height: 50%;
  left: 100px;
}

.login-info {
  position: relative;
  top: 25%;
  height: 200px;
  font-size: 1.4em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-info label {
  user-select: none;
}

.login-info input {
  border: 2px solid black;
  background-color: lightslategray;
  color: white;
  height: 20px;
  font-size: 15px;
}

.login-info button {
  position: relative;
  top: 25px;
  font-size: 0.8em;
  width: 100px;
  height: auto;
  padding: 5px 0px;
  border-radius: 25px;
  background-color: lightslategray;
  font-weight: bold;
}

.login-info button:hover {
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
}

.main-footer {
  position: relative;
  top: 20%;
  text-align: center;
  border: 3px solid black;
  border-radius: 25px;
  background-color: lightskyblue;
  opacity: 0.6;
  padding: 5px 0px;
}

.main-footer p {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-footer a {
  text-decoration: none;
  font-size: 1.6em;
  font-family: 'Cedarville Cursive', cursive;
  padding: 0px 15px;
}

.link-directory {
  position: relative;
  float: left;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 25px;
  background-color: lightslategray;
  opacity: 0.6;
  left: 65px;
  bottom: 20px;
  padding: 10px 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-directory:hover {
  color: white;
  transition: 0.6s ease;
}