* {
  max-width: 707px;
}

body {
  background-image: url(/bankapp-repo/Pictures/bankBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmax;
}

.main-header {
  position: relative;
  border: 3px solid black;
  background-color: lightskyblue;
  opacity: 0.6;
  border-radius: 25px;
  text-align: center;
  width: 300px;
  left: 185px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  user-select: none;
}

.login-screen {
  position: relative;
  border: 3px solid black;
  border-radius: 25px;
  text-align: center;
  height: 500px;
  width: 618px;
  margin: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: lightskyblue;
  opacity: 0.8;
}

.login-info {
  position: relative;
  top: 35%;
  width: 300px;
  left: 159px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: black;
  opacity: 0.8;
  padding: 25px 0px;
}

.login-info label {
  position: relative;
  bottom: 10px;
  color: white;
}
.login-info button {
  position: relative;
  top: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 25px;
}

.login-info button:hover {
  background-color: black;
  color: white;
  transition: 0.6s ease;
}